body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 202px;
}

#menucheck {
  opacity: 0;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 46px;
  font: bold 24px/31px 'pt_serifbold', sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  border-radius: 50%;
  opacity: 0.7;
}

.burg-menu {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-right: 10px;
}

.menu__item {
  position: relative;
  margin-right: 23px;
  font: 500 18px/21px robotomedium, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
  transform: skew(-10deg);
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 54% 180px 0;
  background: top right no-repeat url(img/main.svg);
  background-size: 50%;
  background-position-y: -66px;
}

.main__title {
  width: 567px;
  height: 255px;
  margin-bottom: 44px;
  font: bold 66px/88px 'pt_serifbold', sans-serif;
}

.main__subtitle {
  width: 455px;
  margin: 0 0 41px 0;
  font: normal 22px/25px robotoregular, sans-serif;
}

.main__button {
  display: inline-block;
  font: normal 18px/21px robotomedium, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 20px 28px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

@media (max-width: 1420px) {
  .wrapper {
    width: 68%;
  }

  .header {
    margin-bottom: 100px;
  }

  .main {
    padding: 0 54% 193px 0;
    background: top right no-repeat url(img/main.svg);
    background-size: 55%;
    background-position-y: -14px;
  }

  .main__title {
    max-width: 434px;
    height: 195px;
    margin-bottom: 41px;
    font: bold 50px/66px 'pt_serifbold', sans-serif;
  }

  .main__subtitle {
    max-width: 368px;
    margin-bottom: 44px;
    font: normal 18px/21px robotomedium, sans-serif;
  }

  .main__button {
    max-width: 168px;
    padding: 14px 20px;
    font: 500 14px/16px robotomedium, sans-serif;
  }

  .menu__item {
    font: 500 14px/16px robotomedium, sans-serif;
    margin-right: 20px;
  }
}

@media (max-width: 1170px) {
  #menucheck {
    opacity: 0;
  }

  .wrapper {
    width: 91%;
  }

  .main {
    background-position-y: -14px;
  }

  .main__title {
    max-width: 434px;
    margin-bottom: 41px;
    font: bold 50px/66px 'pt_serifbold', sans-serif;
  }

  .main__subtitle {
    max-width: 368px;
    height: 43px;
    margin-bottom: 42px;
    font: normal 18px/21px robotomedium, sans-serif;
  }

  .main__button {
    min-width: 178px;
    padding: 14px 16px;
    font: 500 14px/16px robotomedium, sans-serif;
  }

  .burg-menu {
    padding-right: 0;
  }

  .menu__item {
    margin-right: 22px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .wrapper {
    margin: auto;
    width: 87%;
  }

  .header {
    margin-bottom: 20px;
  }

  .main {
    text-align: center;
    padding: 69% 0 0;
    background-size: 85%;
    background-position: center -4px;
  }

  .main__title {
    max-width: 267px;
    height: 96px;
    padding-top: 3px;
    padding-left: 32px;
    margin-bottom: 56px;
    font: bold 30px/40px 'pt_serifbold', sans-serif;
  }

  .main__subtitle {
    max-width: 250px;
    margin-bottom: 39px;
    padding-left: 40px;
    font: 500 16px/19px robotomedium, sans-serif;
  }

  .main__button {
    padding-left: 14px;
    font: 500 14px/16px robotomedium, sans-serif;
  }

  #menucheck {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
  }

  .menu__btn > span::before {
    content: "";
    top: -7px;
  }

  .menu__btn > span::after {
    content: "";
    top: 7px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 186px;
    list-style: none;
    background-color: #fff;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 36px;
    padding-left: 13px;
    margin-bottom: 24px;
    color: #000;
    font: normal 30px/35px robotomedium, sans-serif;
    text-decoration: none;
  }

  .menu__item:last-child {
    padding-left: 0;
    margin-bottom: 0;
  }

  #menucheck:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menucheck:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menucheck:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menucheck:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .logo__name {
    visibility: hidden;
  }

  .logo {
    display: flex;
    padding-top: 2px;
  }

  .logo__circle_color_blue {
    top: 62%;
  }
}
